@mixin imageProperty {
  position: absolute;
  width: 100%;
  transition: 1.5s;
}

.image {
  &_fadeIn {
    @include imageProperty();
    opacity: 0.9;
  }

  &_fadeOut {
    @include imageProperty();
    opacity: 0;
  }
}
