//define default font
$defaultFontFamily: 'Arial';

//define colors for material
$background-black: #2a3139;

$white:white;

//Resopnsive design
$pc: 1024px; // PC
$tab: 680px; // Tablet
$sp: 480px;  // SmartPhone

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}