@use '@/styles/variables';

.header {
  width: 100%;
  height: 96px;
  background-color: variables.$background-black;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$white;
    &_brand {
      font-weight: 700;
    }
    &_navigation {
      display: flex;
      align-items: center;

      &_icon{
        margin-left: 2rem;
        opacity: 0.9;}
      &_text {
        margin-left: 2rem;
        opacity:0.6;
      }
      &_text:hover {
        border-bottom: solid 1px variables.$white;
        opacity:1;
      }
    }
  }
}
