@use '@/styles/variables';

.contactForm{
  width:100%;

  display:flex;
  flex-direction:column;
  color:variables.$background-black;

  h1{
    font-size:2rem;
    font-weight: 600;
  }

  h4{
    font-size: 1.3rem;
    margin-top:0.5rem;
  }

  input{
      border:solid gray 0.5px;
      border-radius: 5px;
  }

  textarea{
      border:solid gray 0.5px;
      border-radius: 5px;
      height:100px;
  }

  &__buttonContainer{
      display:flex;
      justify-content: flex-end;
      button{
          width:100px;
          margin-top:20px;
      }
  }
}