@use '@/styles/variables';
.footer {
  width: 80vw;
  margin: 50px auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: variables.$background-black;

  // @media (max-width:600px){
  //     width:100%;
  //     flex-direction: column;
  //     padding-left:10px;
  //     padding-right:10px;
  //  }

  &_left {
    width: 40%;
    margin-left: 40px;

    // @media (max-width:600px){
    //     width:100%;
    //     margin-left:0px;
    //  }
  }

  &_right {
    width: 50%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    // @media (max-width:600px){
    //     width:100%;
    //     margin-right:0px;
    //     margin-top:15px;

    //     h2{
    //         font-size:20px;
    //     }
    //     h4{
    //         font-size:15px;
    //     }
    //     h5{
    //         font-size:13px;
    //     }
    //  }
    &_text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      & h2 {
        font-size: 2rem;
        font-weight: 600;
      }
      & h4 {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0.2rem 0;
      }
    }

    &_icons {
      margin-top: 2rem;
      display: flex;
    }
  }
}
